
<div class="container responsive-grid" *ngFor="let blogItem of blogItems">
    <mat-card class="blog-post-card mat-mdc-card col-md-3 shadow-lg" (click)="redirectToExternalBlogLink(blogItem.blogPostUrl)">
        <mat-card-header>
            <mat-card-title>{{ blogItem.name }}</mat-card-title>   
        </mat-card-header>
        <br />
        <img mat-card-xl-image [src]="(imgPath + blogItem.imgLink)" 
            [alt]="(blogItem.imgAltTag)"> 
        <mat-card-content>
            <p class="card-content">{{ blogItem.description }}</p>
        </mat-card-content>
    </mat-card>
</div>
