<mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Menu Icon">
        <mat-icon><i class="bi bi-list">Menu List</i></mat-icon>
    </button>
    <span>{{ this.navTitleText }}</span>
    <span class="navbar-spacer"></span>
    <button mat-raised-button (click)="redirectToExternalGitHubLink()" class="button-spacing">
        <i class="bi bi-github"></i> {{ this.gitHubButtonText }}</button>
    <button mat-raised-button (click)="redirectToExternalLinkedInLink()" class="button-spacing">
        <i class="bi bi-linkedin"></i> {{ this.linkedInButtonText }}</button>
    <button mat-icon-button color="warn" aria-label="Heart Icon">
        <mat-icon><i class="bi bi-heart-fill">Favorite</i></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Share Icon">
        <mat-icon><i class="bi bi-share-fill">Share</i></mat-icon>
    </button>
</mat-toolbar>
