.blog-post-card {
    border-width: thick;
    /* margin-top: 100px;
    margin-bottom: 100px; */
}

.container {
    padding: 2.5% 10% 2.5%;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 48px;
}

